body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    width: 100%;
    height: auto;
}
.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}
.header div{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 2rem;
}

.main-content{
  background-image: url(images/welPic.jpeg);
  width: 100%;
  height: 500px;
  opacity: 1;
}

.main-content h1{
    margin-left: 100px;
    color: white;
    font-family: "poppins";
}

.main-content div{
    position: absolute;
    top: 200px;
    font-family: "poppins";
}


.form-input{
    height: 40px;
    background-color: white;
    padding: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 16px;
    padding: 20px;
   
}

.form-input button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    margin-left: 20px;
    border: none;
}

.input{
    width: 290px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
}

.sms{
    height: 40px;
    display: flex;
    gap: 2rem;
    margin-top: 10px;
    align-items: center;
    margin-left: 2rem;
    background-color: rgb(8, 1, 48);
    color: white;
    padding: 20px;
    margin-right: 2rem;
    border-radius: 20px;
}

.logo1{
    
    height: 40px;
    width:40px;
    background-color: rgb(131, 194, 211);
    border-radius: 50%;
    padding: 12px;
}
.booking{
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr;
  width: 100%;
  margin: 20px;
  gap: 20px;
}
.booking img{
    width: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 188px;
}

.find-accomodations{
   margin: 20px;
}
.accomodations{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    gap:2rem;
}
.accomodations img{
    width: 200px;
    height: 300px;
    border-radius: 16px;
}

.info-card{
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
  margin: 20px;
  gap: 15px;
}

.card-info img{
    width: 280px;
    height: 200px;
    border-radius: 16px;
}
.Browser{
    margin-left: 20px;
}

.beach{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 20px;
}
.beach img{
    width: 580px;
    height: 350px;
    border-radius: 20px;
    margin-top: 20px;
}

.private{
    display: flex;
    gap: 15px;
    margin: 20px;
}
.pri-img img{
    width: 230px;
    height: 300px;
    border-radius: 20px;
}

.sauna{
    background-image: url(images/sauna.jpeg);
    height: 350px;
    padding: 40px;
    margin: 30px;
    border-radius: 20px;
}

.sauna-div{
   width: 350px;
   height: 300px;
   background-color: white;
   border-radius: 20px;
   padding: 20px;
}

.sauna-div button{
    border: none;
    background-color: rgb(47, 47, 247);
    height: 40px;
    border-radius: 16px;
    color: white;
}

